{{!-- Social links list --}}
<div class="social-links">
    {{#if @site.facebook}}
    <a href="{{facebook_url}}" class="btn btn-icon btn-secondary" target="_blank" rel="noopener">
        <span class="screen-reader-text">Facebook</span>
        {{> "icons/facebook"}}
    </a>
    {{/if}}
    {{#if @site.twitter}}
    <a href="{{twitter_url}}" class="btn btn-icon btn-secondary" target="_blank" rel="noopener">
        <span class="screen-reader-text">Facebook</span>
        {{> "icons/twitter"}}
    </a>
    {{/if}}
    {{!--
    <a href="https://www.instagram.com/" class="btn btn-icon btn-secondary" target="_blank" rel="noopener">
        <span class="screen-reader-text">Instagram</span>
        {{> "icons/instagram"}}
    </a>
    <a href="https://github.com/" class="btn btn-icon btn-secondary" target="_blank" rel="noopener">
        <span class="screen-reader-text">GitHub</span>
        {{> "icons/github"}}
    </a>
    <a href="https://codepen.io/" class="btn btn-icon btn-secondary" target="_blank" rel="noopener">
        <span class="screen-reader-text">CodePen</span>
        {{> "icons/codepen"}}
    </a>
    <a href="https://dev.to/" class="btn btn-icon btn-secondary" target="_blank" rel="noopener">
        <span class="screen-reader-text">Dev</span>
        {{> "icons/devdotto"}}
    </a>
    <a href="https://www.reddit.com/" class="btn btn-icon btn-secondary" target="_blank" rel="noopener">
        <span class="screen-reader-text">Reddit</span>
        {{> "icons/reddit"}}
    </a>
    --}}
</div>