{{!-- Displays the about info --}}
<section class="widget widget-text">
    {{#if @custom.about_title}}
    <h2 class="widget-title small-title">{{@custom.about_title}}</h2>
    {{/if}}
    {{#if @custom.about_text}}
    <p>{{@custom.about_text}}</p>
    {{/if}}
</section>
